<!-- <div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/home" class="title"> Spring Blog</a></h1>
      </div> 
      <div class="col-md-3" *ngIf="authService.isAuthenticated()">
          <a href="/add-post" class="new-post">Add Post</a>
          <button class="logout btn btn-default" (click)="logout()">Logout</button>
          <span class="new-post">{{username}}</span>
      </div>
      <div class="col-md-3" *ngIf="!authService.isAuthenticated()">
        <a href="/login" class="login btn btn-default">Login</a>
        <a href="/register" class="register btn btn-default">Register</a>
      </div> 
    </div>
  </div>
</div> -->

<div class="header">
  <a href="/" class="logo">SpringBlog</a>
  <div class="header-right"  *ngIf="authService.isAuthenticated()">
    <a class="active" href="#home">{{username}}</a>
    <a href="/add-post">Add Post</a>
    <a (click)="logout()">Logout</a>
  </div>
  <div class="header-right"  *ngIf="!authService.isAuthenticated()">
    <a class="active" href="#home">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </div>
</div>